body{ 
    width: 400px;
    height: 200px;
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: 1550px
}
.container h2{
    position: relative;
    left:90px;
    top: 50px;
    border: solid;
    width: 500px;
    color: white;
}
.bsair{
    position: relative;
    left: 1200px;
   color: black;
    width: 100px;
    height: 20px;
}
.container2{
    background-color: white;
    position: relative;
    height: 200px;
    top: 340px;
    width: 1360px;
    right:  6px;;
}