body{ 
    width: 400px;
    height: 800px;
    /* background-image: url(index.jpg);
    background-repeat: repeat;
    background-size: 1050px */
    background-color: #0a0a53;
}
#ola{
    position: relative;
    color: white;
    font-size: 22px;
}
.container h2{
    position: relative;
    left:280px;
    top: 50px;
    /* border: solid; */
    width: 1000px;
    color: white;
    font-size: 35px;
    font-family: Tahoma; 
}
.bsair{
    position: relative;
    left: 1250px;
    bottom: 25px;
    color: white;
    width: 70px;
    height: 20px;
    font-size: 22px;
    font-family: Tahoma;
    text-decoration: none;
}
.container2{
    position: relative;
    bottom: 60px;
    left:500px;
    /* border: solid 1px;  */
    width:350px; 
    height: 610px; 
    padding: 20px;
    background-color:transparent; 
    text-align: center;
    font-size: 22px;
    font-family: Tahoma; 
    border-radius: 20px;    

}
.container2 a{
    text-decoration:none;
    color: white;
}
.container2 h2{
    position: relative;
    top:50px;
}
.cloud{
    position: relative;
    top: 50px;
    width: 300px;
    border-radius: 20px;
    background-blend-mode: soft-light;
}
.banco{
    position: relative;
    top: 50px;
    width: 300px;
    border-radius: 20px;
}
.menu{
    position: relative;
    bottom: 10px;
    right: 7px;
    /* border: solid; */
    width: 1348px;
    background-color:#1A196E;
}
.ola{
    position: relative;
    top: 10px;
    font-family: Tahoma;
}
.cores{
    position: relative;
    top: 10px;
    font-family: Tahoma;
}
