body{ 
    width: 400px;
    height: 200px;
    background-image: url(fundo.jpg);
    background-repeat: repeat;
    background-size: 1550px
}
#ola{
    position: relative;
    color: white;
    font-size: 22px;
}
.container h2{
    position: relative;
    left:50px;
    top: 250px;
    /* border: solid; */
    width: 1000px;
    color: white;
    font-size: 35px;
    font-family: Tahoma; 
}
.bsair{
    position: relative;
    color: white;
    top: 480px;
    width: 70px;
    height: 20px;
    font-size: 25px;
    font-family: Tahoma;
}
.container2{
    position: relative;
    bottom: 161px;
    left:890px;
    border: solid 1px; 
    width:350px; 
    height: 610px; 
    padding: 20px;
    background-color:white; 
    text-align: center;
    font-size: 22px;
    font-family: Tahoma;     

}
.container2 a{
    text-decoration:none;
    color: black;
}
.container2 h2{
    position: relative;
    top:50px;
}
.cloud{
    position: relative;
    top: 50px;
    width: 300px;
    border-radius: 20px;
    background-blend-mode: soft-light;
}
.banco{
    position: relative;
    top: 50px;
    width: 300px;
    border-radius: 20px;
}