body{ 
    width: 400px;
    height:3050px;
    /* background-image: url(index.jpg);
    background-repeat: repeat; */
    background-color: #0a0a53;
}
.container h2{
    position: relative;
    left:40px;
    top: 50px;
    /* border: solid; */
    width: 840px;
    color: white;
    font-family: Tahoma;
}
.container2{
    position: relative;
    bottom:2890px;
    left:890px;
    border: solid 1px; 
    width:350px; 
    height: 110px; 
    padding: 20px;
    background-color:white; 
    text-align: center;
    font-size: 22px;
    font-family: Tahoma;
    border-radius: 20px;
}
.container2 a{
    position: relative;
    bottom: 150px;
    width: 300px;
    font-size: 15px;
    text-decoration:none;
    color: black;
}
.sql{
    position: relative;
    top:50px;
    left: 70px;
    width: 600px;
    border-radius: 10px;
}
.containertext{
    position: relative;
    top: 50px;
    left: 25px;
    width: 800px;
    color: white;
    text-align:justify;
    font-size: 18px;
    font-family: Tahoma;
}
.container2 h2{
    position: relative;
    top:155px;
    font-family: Tahoma;
}
.sqlcurso{
    width: 400px;   
}
.banco{
    width: 300px;
}
.cliquicurso{
    position: relative;
    bottom:70px;
}
.introsel{
    width: 300px;
}
.cliqui{
    text-decoration:none;
    color: yellow;
}
.cursoemvideo{
    position: relative;
    bottom:150px;
}