body{ 
    width: 400px;
    height: 200px;
    background-image: url(fundo.jpg);
    background-repeat: repeat;
    background-size: 1550px
}
.container h2{
    position: relative;
    left:70px;
    top: 50px;
    border: solid;
    width: 690px;
    color: white;
}
.bsair{
    position: relative;
   color: black;
    width: 70px;
    height: 20px;
}
.container2{
    position: relative;
    bottom:3755px;
    left:890px;
    border: solid 1px; 
    width:350px; 
    height: 610px; 
    padding: 20px;
    background-color:white; 
    text-align: center;
    font-size: 22px;

}
.container2 a{
    text-decoration:none;
    color: black;
}
.cloud{
    position: relative;
    top:50px;
    left: 70px;
    border-radius: 10px;
}
.containertext{
    position: relative;
    top: 50px;
    left: 25px;
    width: 800px;
    color: white;
}