body{ 
    width: 400px;
    height: 200px;
    background-image: url(fundo.png);
    background-repeat: no-repeat;
    background-size: 1500px
}
.container img{
position: relative;
left: 370px;
height: 400px;
width: 600px;
top: 100px;
border-radius: 20px;
}
.container h2{
    position: relative;
    left:490px;
    top: 50px;
    color: white;
}
.joestar{
    text-decoration:none; 
    position: relative;
    top:130px;
    left: 300px;
    width: 400px;
    color: white;
    font-size: 20px;
}
.dio{
    text-decoration:none; 
    position: relative;
    top:110px;
    left: 700px;
    width: 6000px;
    /* border: solid; */
    color: white;
    font-size: 20px;
}